* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}

nav {
  position: relative;
  display: flex;
  width: 50%;
}

div:not(#marker) {
  position: relative;
  flex: 1;
  text-align: center;
}

nav a {
  font-size: 2em;
  color: #ccc;
  text-decoration: none;
}

#marker {
  position: absolute;
  left: 0;
  height: 4px;
  width: 0;
  background: #f51685;
  bottom: -8px;
  transition: 0.5s;
  border-radius: 4px;
}
